.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 7.5s linear;
  height: 80px;
  margin: auto;
}

.App-header {
  height: 100px;
  padding: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  text-align: middle;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

tr, td {
  border-bottom: 2px solid lightgrey;
}

#customers, #trainings {
  margin: 0 auto;
  width: 70%;
}

.nav-tabs {
  margin-left: 15%;
  margin-right: 15%;
  border-bottom: none;
}

div.dropdown.btn-group.btn-group-default {
  float: right;
}

#modalForm {
  visibility: visible;
}

#formButtons > * {
  margin-left: 0.5em;
  float: right;
}

.modal-content {
  height: 640px;
}

#asd > div > div {
  height: 400px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
